

section{
    color: 333;
    transition:  .5s ease;
}


h4,h5, h6{
    font-family: 'Monserrat', sans-serif;
    text-transform: uppercase;
}

.sobre-nosotros{
    text-align: center;
}

.sobre-nosotros img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

.sobre-nosotros p{
    text-transform: uppercase;
    margin-top: 2rem;
}

.heading-6{
    font-size: 22px;
    font-weight: bold;
}