    
        <section class="container">
            <div class="row">
                <h5 class="text-center my-3">Sobre Nosotros</h5>
                <div class="col-12 col-md-6 col-lg-4 mb-3 sobre-nosotros">
                    <h6 class="text-center ">
                        <i class="bi bi-heart-fill" ></i>
                        Hechos a mano, Hechos para ti
                        <i class="bi bi-heart-fill" ></i>
                    </h6>
                    <img src="/image10.jpg" alt="Imagen nosotros">
                    <p >Algunas de nuestras piezas son construidas a manos, lo que garantiza un articulo único y hecho con esmero.</p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3 sobre-nosotros">
                    <h6 class="text-center ">
                        <i class="bi bi-heart-fill" ></i>
                        Colecciones Exclusivas
                        <i class="bi bi-heart-fill" ></i>
                    </h6>
                    <img src="/image9.jpg" alt="Imagen nosotros">
                    <p>Explora nuestras colecciones exclusivas, donde cada diseño es creado en cantidades limitadas para asegurar que lleves una pieza única y especial.</p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3 sobre-nosotros">
                    <h6 class="text-center ">
                        <i class="bi bi-heart-fill" ></i>
                        Nuestro Compromiso
                        <i class="bi bi-heart-fill" ></i>
                    </h6>
                    <img src="/image11.jpg" alt="Imagen nosotros">
                    <p>Utilizamos solo los mejores materiales, desde piedras naturales hasta metales hipoalergénicos, cada pieza está hecha para durar y lucir increíble.</p>
                </div>
            </div>
        </section>
