
<div class="bg-dark py-5 "  [ngClass]="{'fixed-bottom': isFixedBottom}">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 text-center">
                <div class="text-center">
                    <span class="text-white fw-bold">BERMELLONA</span>
                    <img src="/logo.png" alt="Logo de bermellona" width="64" height="64" class="mx-2" />
                    <span class="text-white fw-bold">ACCESORIOS</span>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-center">
                <div class="text-center">
                    <span class="text-white fw-bold">BERMELLONA</span>
                    <img src="/logo.png" alt="Logo de bermellona" width="64" height="64" class="mx-2" />
                    <span class="text-white fw-bold">ACCESORIOS</span>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-center">
                <div class="text-center">
                    <span class="text-white fw-bold">BERMELLONA</span>
                    <img src="/logo.png" alt="Logo de bermellona" width="64" height="64" class="mx-2" />
                    <span class="text-white fw-bold">ACCESORIOS</span>
                </div>
            </div>
        </div>

        <h6 class="text-center fw-bold text-white mt-5"> Desarrollado con 
            <i class="bi bi-heart-fill" style="color: red;" ></i>
            para nuestros clientes.
        </h6>
    </div>
</div>
