<app-redes-sociales></app-redes-sociales>
<app-header></app-header>

<div class="container my-5">
  <mat-tab-group>
    <!-- Tab Mi Cuenta -->
    <mat-tab label="Mi Cuenta">
      <div class="p-3">
        <h3>Mi Cuenta</h3>
        <p class="fw-bold">
          Bienvenid(a),
          {{ perfilUsuario.first_name + " " + perfilUsuario.last_name }}
        </p>
        <hr class="my-3" />
        <p class="fw-bold">
          Información cuenta
        </p>
        <form action="">
          <div class="row">
            <div class="col-12 my-1">
              <label for="">Email</label>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-at-fill"></i></span>
                <input type="email" class="form-control" placeholder="Email" disabled value="{{perfilUsuario.email}}" aria-label="email" aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="col-6 my-1">
              <label for="">Nombre</label>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
                <input type="text" class="form-control" placeholder="first_name"  value="{{perfilUsuario.first_name}}" aria-label="first_name" aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="col-6 my-1">
              <label for="">Apellido</label>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
                <input type="text" class="form-control" placeholder="last_name"  value="{{perfilUsuario.last_name}}" aria-label="last_name" aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="col-12 my-2 text-end">
              <button class="btn btn-primary">Guardar Cambios</button>
            </div>
            <hr class="my-3" />
          </div>
        </form>
      </div>
    </mat-tab>

    <!-- Tab Mis Pedidos -->
    <mat-tab label="Mis Pedidos ">
      <div class="p-3">
        <h3>Mis Pedidos</h3>
        <p>Lista de pedidos realizados.</p>
        <div class="row" *ngFor="let venta of ventas">
          <div class="col-12  my-2">
            <div class="card">
              <div class="card-header bg-dark text-white">
                Pedido: {{ venta.codigo }}
              </div>
              <div class="card-body">
                <p><strong>Total:</strong> {{ venta.valor_total | monedaChilena }}</p>
                <p><strong>Estado:</strong> {{ venta.estado }}</p>
                <h6 class="mt-3">Productos:</h6>
                <ul>
                  <li *ngFor="let producto of venta.productos">
                    <img [src]="'http://127.0.0.1:8000' + producto.producto.imagen" alt="{{ producto.producto.nombre }}" width="50" />
                    {{ producto.producto.nombre }} ({{ producto.cantidad }} unidades)
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<app-footer></app-footer>
