<div class="bg-dark " [ngClass]="{'fixed-top': isFixedTop}">
  <nav class="navbar navbar-expand-lg">
    <div class="container d-flex align-items-center justify-content-between">
      <a class="navbar-brand d-flex align-items-center fw-bold" href="/">
        <span class="titulo-1">BERMELLONA</span>
        <img
          src="/logo.png"
          alt="Logo de bermellona"
          width="64"
          height="64"
          class="mx-2"
        />
        <span class="titulo-2">ACCESORIOS</span>
      </a>
      <button
        class="navbar-toggler bg-white text-white"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon text-white"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-between align-items-center"
        id="navbarSupportedContent"
      >
        <!-- <div class="input-group mx-auto">
          <span class="input-group-text" id="basic-addon1">
            <i class="bi bi-search"></i>
          </span>
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Busca aquí tu producto favorito..."
            aria-label="Buscar"
            aria-describedby="basic-addon1"
          />
        </div> -->
        <div
          class="d-flex align-items-center justify-content-center gap-5 ms-auto mt-5 mt-lg-0"
        >
          <div class="dropdown-center d-flex  ">
            <div class="fw-bold text-white" *ngIf="usuarioLogueado$ | async">
              <p class="m-0">Bienvenid(a),</p>
              <p class="m-0">{{ (perfilUsuario$ | async)?.first_name }}</p>
            </div>
            <i
              *ngIf="usuarioLogueado$ | async"
              class="bi bi-person-fill dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            ></i>
            <ul class="dropdown-menu bg-dark text-white " >
              <li *ngIf="es_admin">
                <a class="dropdown-item" [routerLink]="['/admin']"  >
                  <i class="bi bi-speedometer2" style="font-size: 22px"></i>
                  Administración
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#" [routerLink]="['/mi-perfil']">
                  <i class="bi bi-gear-fill" style="font-size: 22px"></i>
                  Mi perfil</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="#" (click)="cerrarSesion()">
                  <i class="bi bi-box-arrow-left" style="font-size: 22px"></i>
                  Cerrar sesión</a
                >
              </li>
            </ul>
          </div>
          <i
            class="bi bi-shop"
            [routerLink]="['/tienda']"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            data-bs-title="Tienda"
            (click)="cerrarTooltip()"
          ></i>
          <i
            *ngIf="!(usuarioLogueado$ | async)"
            class="bi bi-person-fill-lock"
            [routerLink]="['/autenticacion']"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            data-bs-title="Inicia sesión o registrate"
            (click)="cerrarTooltip()"
          ></i>
          <i
            class="bi bi-bag-heart-fill"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            data-bs-title="Carrito de compras"
            (click)="cerrarTooltip()"
            position-relative
            [routerLink]="['/carrito']"
          >
            <span
              class="position-absolute translate-middle badge rounded-pill bg-danger"
            >
              {{ carrito.length }}
              <span class="visually-hidden">productos</span>
            </span>
          </i>
        </div>
      </div>
    </div>
  </nav>
</div>
