<div style="color: rgb(170, 166, 166);">
    <div class="container my-5">
        <h4 class="text-center">Contáctanos</h4>
    
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="card shadow-lg p-4 border-0 rounded-3">
                    <div class="card-content">
                        <div class="container my-3">
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Tu Nombre</label>
                                <input type="text" class="form-control" id="nombre" aria-describedby="nombre">
                                <div id="nombre" class="form-text">Escribe tu hermoso nombre aquí.</div>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Correo Electrónico</label>
                                <input type="email" class="form-control" id="email">
                                <div id="email" class="form-text">Necesario para que podamos contactarte</div>
                            </div>
                            <div class="mb-3">
                                <label for="motivo" class="form-label">Motivo</label>
                                <select class="form-control" id="motivo">
                                    <option value="">-- Seleccione --</option>
                                    <option value="producto">Solicitar producto personalizado</option>
                                    <option value="felicitaciones">Felicitaciones</option>
                                    <option value="quejas">Quejas</option>
                                    <option value="otro">Otro</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="mensaje" class="form-label">Mensaje</label>
                                <textarea rows="5" class="form-control" id="mensaje"></textarea>
                            </div>
                            <button class="btn btn-success w-100 rounded-pill">
                                Enviar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
