<app-redes-sociales></app-redes-sociales>
<app-header [isFixedTop]="true"></app-header>

<div class="container py-3">
  <div class="row py-5">
    <div class="col-2">
      <div class="card p-3">
        <h5 class="card-title">Filtros</h5>
        <!-- Campo de búsqueda -->
        <div class="mb-3">
          <label for="buscar" class="form-label">Buscar</label>
          <input
            type="text"
            id="buscar"
            class="form-control"
            placeholder="Buscar productos..."
            [(ngModel)]="terminoBusqueda"
            (input)="filtrarProductos()"
          />
        </div>
        <!-- Rango de precios -->
        <div class="mb-3">
          <label for="precio" class="form-label">Precio</label>
          <input
            type="range"
            id="precio"
            class="form-range"
            min="0"
            max="50000"
            step="500"
            [(ngModel)]="precioSeleccionado"
            (input)="filtrarProductos()"
          />
          <p class="text-muted">
            Hasta: {{ precioSeleccionado | monedaChilena }}
          </p>
        </div>
        <!-- Selector de orden -->
        <div class="mb-3">
          <label for="ordenar" class="form-label">Ordenar por</label>
          <select
            id="ordenar"
            class="form-select"
            [(ngModel)]="ordenSeleccionado"
            (change)="filtrarProductos()"
          >
            <option value="">Por defecto</option>
            <option value="precioAsc">Precio: Menor a mayor</option>
            <option value="precioDesc">Precio: Mayor a menor</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-10">
      <div class="row">
        <!-- Iteración de productos -->
        <div
          *ngFor="let producto of productosPaginados"
          class="col-12 col-md-6 col-lg-3 my-3 producto text-center d-flex"
        >
          <div class="producto-card d-flex flex-column justify-content-between">
            <div>
              <div
                class="image-container position-relative d-flex justify-content-center align-items-center"
              >
                <img
                  [src]="producto.imagen"
                  [alt]="producto.nombre"
                  class="producto-imagen"
                />
              </div>
              <h6 class="text-center mt-2 font-weight-bold">
                {{ producto.nombre }}
              </h6>
              <p class="text-muted">{{ producto.descripcion }}</p>
              <h6 class="precio">{{ producto.precio | monedaChilena }}</h6>
              <p class="text-muted stock-text">
                Stock disponible: {{ producto.cantidad }}
              </p>
            </div>
            <div>
              <div
                *ngIf="!enCarrito(producto)"
                class="cantidad-seleccion mb-2 d-flex justify-content-center gap-2"
              >
                <input
                  id="cantidad-{{ producto.id }}"
                  type="number"
                  min="1"
                  max="{{ producto.cantidad }}"
                  class="form-control cantidad-input"
                  style="width: 35%"
                  [(ngModel)]="producto.cantidadSeleccionada"
                />
              </div>
              <div
                class="d-flex justify-content-center gap-5 align-items-center"
              >
                <button
                  *ngIf="!enCarrito(producto) && producto.cantidad > 0"
                  class="btn btn-success"
                  [disabled]="producto.cantidadSeleccionada > producto.cantidad || producto.cantidad < 1"
                  (click)="agregarAlCarrito(producto)"
                >
                  <i class="bi bi-bag-plus-fill"></i> Añadir al carrito
                </button>
                <button
                *ngIf=" !enCarrito(producto) && producto.cantidad < 1"
                class="btn btn-danger"
                [disabled]="producto.cantidadSeleccionada > producto.cantidad || producto.cantidad < 1"
                (click)="agregarAlCarrito(producto)"
              >
                <i class="bi bi-bag-plus-fill"></i> Sin Stock 
              </button>
                <button
                  *ngIf="enCarrito(producto)"
                  class="btn btn-danger"
                  (click)="quitarDelCarrito(producto)"
                >
                  <i class="bi bi-bag-dash-fill"></i> Quitar del carrito
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Paginador -->
      <div class="d-flex justify-content-center mt-4">
        <nav>
          <ul class="pagination">
            <li
              class="page-item"
              [class.disabled]="paginaActual === 1"
              (click)="cambiarPagina(paginaActual - 1)"
            >
              <a class="page-link" href="javascript:void(0)">Anterior</a>
            </li>
            <li
              class="page-item"
              *ngFor="
                let pagina of [].constructor(totalPaginas || 0);
                let i = index
              "
              [class.active]="paginaActual === i + 1"
              (click)="cambiarPagina(i + 1)"
            >
              <a class="page-link" href="javascript:void(0)">{{ i + 1 }}</a>
            </li>

            <li
              class="page-item"
              [class.disabled]="paginaActual === totalPaginas"
              (click)="cambiarPagina(paginaActual + 1)"
            >
              <a class="page-link" href="javascript:void(0)">Siguiente</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
