<app-redes-sociales></app-redes-sociales>
<app-header></app-header>

<div class="container">
  <div class="row py-5">
    <div class="col-4">
      <div class="card p-3">
        <h5 class="card-title">Filtros</h5>
        <div class="mb-3">
          <label for="color" class="form-label">Color</label>
          <select id="color" class="form-select" >
            <option value="">Todos</option>
            <option value="rojo">Rojo</option>
            <option value="azul">Azul</option>
            <option value="verde">Verde</option>
            <option value="negro">Negro</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="tamaño" class="form-label">Tamaño</label>
          <select id="tamaño" class="form-select" >
            <option value="">Todos</option>
            <option value="pequeño">Pequeño</option>
            <option value="mediano">Mediano</option>
            <option value="grande">Grande</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="precio" class="form-label">Precio</label>
          <input
            type="range"
            id="precio"
            class="form-range"
            min="0"
            max="50000"
            step="500"
          />
          <p class="text-muted">Hasta: {{ precioSeleccionado | monedaChilena }}</p>
        </div>
        <div class="mb-3">
          <label for="ordenar" class="form-label">Ordenar por</label>
          <select id="ordenar" class="form-select">
            <option value="">Por defecto</option>
            <option value="precioAsc">Precio: Menor a mayor</option>
            <option value="precioDesc">Precio: Mayor a menor</option>
            <option value="masVendido">Más vendidos</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="row">
        <!-- Iteración de productos -->
        <div
          *ngFor="let producto of productos"
          class="col-12 col-md-6 col-lg-4 producto text-center"
        >
          <div class="my-4">
            <div
              class="image-container position-relative d-flex justify-content-center align-items-center"
            >
              <img
                [src]="producto.imagen"
                [alt]="producto.nombre"
                class="producto-imagen"
              />
              <i
                class="bi bi-heart-fill favoritos position-absolute"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                data-bs-title="Agregar a favoritos"
                style="top: 10px; left: 10px; cursor: pointer"
              >
              </i>
            </div>
            <h6 class="text-center mt-2 font-weight-bold">
              {{ producto.nombre }}
            </h6>
            <p class="text-muted">{{ producto.descripcion }}</p>
            <h6 class="precio">{{ producto.precio | monedaChilena }}</h6>
            <div class="d-flex justify-content-center gap-5 align-items-center">
              <button
                *ngIf="!enCarrito(producto)"
                class="btn btn-success"
                (click)="agregarAlCarrito(producto)"
              >
                <i class="bi bi-bag-plus-fill"></i> Añadir al carrito
              </button>
              <button
                *ngIf="enCarrito(producto)"
                class="btn btn-danger"
                (click)="quitarDelCarrito(producto)"
              >
                <i class="bi bi-bag-dash-fill"></i> Quitar del carrito
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
