.card .btn {
    background-color: #ecb49e; /* Color verde para el botón */
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .5s ease;
    color: black;
}
