<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card text-center shadow-lg p-4" style="max-width: 400px; border-radius: 15px;">
      <div class="card-body">
        <i class="bi bi-check-circle-fill text-success mb-3" style="font-size: 3rem;"></i>
        <h4 class="card-title">Compra aprobada</h4>
        <p class="card-text text-muted mt-2">¡Gracias por tu compra! Recibirás un correo con los detalles de tu pedido.</p>
        <a [routerLink]="['/']" class="btn btn-primary mt-3">Volver al comercio</a>
      </div>
    </div>
</div>
  